*{
box-sizing: border-box;/* para definir  a largura e altura */
}
body{
    margin: 0;/* para remover a margem padrão do body */
    padding: 20px;/* para adicionar um espaçamento interno */
    font-family: Arial, Helvetica, sans-serif;/* para definir a fonte do corpo */
    background-color: #f5f7f5;/* para definir a cor de fundo do corpo */
}
.container-formulario{/* classe para o container do formulário */
    max-width: 700px;/* largura máxima do container */
    margin: 20px auto;/* para centralizar o container na página */
    background-color: #fff;/* cor de fundo do container */
    border-radius: 10px;/* para arredondar os cantos do container */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);/* sombra para dar profundidade ao container */
    overflow: hidden;/* para evitar que o conteúdo transborde */
}
.formulario-cabecalho{/* classe para o cabeçalho do formulário */
    text-align: center;/* centraliza o texto do título */
    background-color: #030303;/* cor de fundo do cabeçalho */
    color: rgb(189, 178, 29);/* cor do texto do cabeçalho */
    padding: 20px 30px;/* espaçamento interno do cabeçalho */
}
.formulario-cabecalho h1{/* estilo do título do cabeçalho */
    margin: 0;/* remove a margem padrão do título */
}
.formulario-cabecalho p{/* estilo do parágrafo do cabeçalho */
    margin: 5px 0 0 0;/* margem superior de 5px, sem margem inferior */
    opacity: 0.9;/* para deixar o texto um pouco transparente */
}
.container-formulario h1{
    text-align: center;/* centraliza o texto do título */
}
.formulario{
    padding: 30px;/* espaçamento interno do formulário */
}
fieldset{
    border: none;/* remove a borda padrão do fieldset */
    margin-bottom: 20px;/* margem inferior de 20px */
    border-radius: 5px;/* arredonda os cantos do fieldset */
    padding: 20px;/* espaçamento interno do fieldset */
}
legend{
    font-weight: bold;/* tamanho da fonte do legend */
    color: #0b2f94c4;/* cor do texto do legend */
    padding: 0 10px;/* espaçamento interno do legend */
}
.campo{
    margin-bottom: 15px;/* margem inferior de 15px */
}

.campo label{
    display: block;/* para o label ocupar toda a largura disponível */
    margin-bottom: 5px;/* margem inferior de 5px */
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[list],
textarea,
select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
button {
    display: 1;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
